.home__container {
  row-gap: 7rem;
}
.home__content {
  grid-template-columns: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;
}
.home__social {
  display: grid;
  grid-template-rows: max-content;
  row-gap: 1rem;
}
.home__social-icon {
  font-size: 1.25rem;
  color: var(--title-color);
}
.home__social-icon:hover {
  color: rgb(23, 21, 21);
}
.home__title {
  /* width: 426px; */
  font-family: var(--name-font);
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-25);
}
.home__hand {
  width: 38px;
  height: 38px;
  margin-left: 0.4rem;
}
.home__subtitle {
  position: relative;
  font-size: var(--h3--font-size);
  padding-left: 5.4rem;
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
.home__subtitle::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: var(--text-color);
  left: 0;
  top: 0.8rem;
}
.home__description {
  max-width: 400px;
  margin-bottom: var(--mb-3);
  text-align: justify;
}
.home__img {
  background: url(../../assets/profile-picture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: 0 0 0 9px rgb(255 255 255 / 30%);

  order: 1;
  justify-self: center;
  width: 300px;
  height: 350px;
  border-radius: 7rem;
  border: solid 1px rgba(0, 0, 0, 0.2);

  box-shadow: 255px 255px 62px -255px rgb(53 70 202 / 25%) inset, 170px 236px 17px -255px rgba(255, 255, 255, 0.9) inset,
    -1px -4px 56px 42px rgb(0 0 0 / 25%) inset, 17px 20px 20px -4px rgb(0 0 0 / 25%);
}

.home__scroll {
  margin-left: 9.25rem;
}
.wheel {
  animation: scroll 2s ease infinite;
}
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(3.75rem);
  }
}
.home__scroll-name {
  color: var(--title-color);
  font-size: var(--font-medium);
  margin-right: var(--mb-0-25);
  margin-left: 2px;
}
.home__scroll-arrow {
  font-size: 1.25rem;
  color: var(--title-color);
}

/* ------break points------- */
/* for large devices */
@media screen and (min-width: 992px) {
  .home__title {
    width: 426px;
  }
}
@media screen and (max-width: 992px) {
  .home__content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }
  .home__hand {
    width: 28px;
    height: 28px;
  }
  .home__subtitle {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }
  .home__subtitle::before {
    width: 42px;
    top: 0.8rem;
  }
  .home__description {
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }
  .home__img {
    width: 250px;
    height: 300px;
    box-shadow: 255px 255px 62px -255px rgb(53 70 202 / 25%) inset,
      170px 236px 17px -255px rgba(255, 255, 255, 0.9) inset, -1px -4px 56px 42px rgb(0 0 0 / 25%) inset,
      17px 20px 20px -4px rgb(0 0 0 / 25%);
  }
  .home__scroll {
    margin-left: 7.5rem;
  }
}
/* for medium devices */
@media screen and (max-width: 768px) {
  .home__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }
  .home__img {
    order: initial;
    justify-self: initial;
  }
  .home__data {
    grid-column: 1/3;
  }
  .home__img {
    box-shadow: 255px 255px 62px -255px rgb(53 70 202 / 25%) inset,
      170px 236px 17px -255px rgba(255, 255, 255, 0.9) inset, -1px -4px 56px 42px rgb(0 0 0 / 25%) inset,
      17px -20px 20px -4px rgb(0 0 0 / 25%);
    width: 200px;
    height: 250px;
  }
  .home__scroll {
    display: none;
  }
}

/* for small devices */
@media screen and (max-width: 450px) {
  .home__img {
    width: 170px;
    height: 195px;
    box-shadow: 17px 3px 22px -10px rgb(0 0 0 / 25%);
  }
}
@media screen and (max-width: 350px) {
  section {
    padding: 0rem 0 8rem;
  }
  .home__img {
    width: 150px;
    height: 170px;
    box-shadow: 17px 3px 22px -10px rgb(0 0 0 / 25%);
  }
  .home__hand {
    width: 28px;
    height: 28px;
  }
}
